<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/sign_in_page.css" />
    
    <title>Reset Password • Instagram</title>
  <link rel="icon" href="https://res.cloudinary.com/dynjwlpl3/image/upload/v1676114002/Instagram-clone/instagramfffff_mioxem.png" type="image/icon type">

</head>
<body>
    <%-include("header")-%>
   <!-- PASSWORD RESET EMAIL VERIFCATION -->
   <div id="container">
    <div class="box">
      <div class="lock-logo">
         <img src="https://res.cloudinary.com/dynjwlpl3/image/upload/v1676113583/Instagram-clone/lockk_jwmap7.png">
      </div>
      <p>Trouble Logging In?</p>
      <p class="para">Enter your email address and we'll send you a link to get back into your account.</p>
      <%if(error){%>
        <p class="error">User does not exist</p>
        <%}%>
      <form action="/account/forgot-password" method="post">
      <input
      id="email"
      type="text"
      name="email"
      placeholder="Enter your email"
      autocomplete="off"
      required
    />
    <input class="button" type="submit" value="Send Login Link" required />
    </form>
    <div class="divider"><p class="line1"></p><p>OR</p><p class="line2"></p></div>
    <a class="signup-a" href="/account/signup"><p class="signUp-btn">Create New Account</p></a>
   
  </div>
  <div class="signIn-btn"><a href="/account/signin"><p>Back To Login</p></a></div>
  <%-include('footer');-%>
 </div>

</body>
</html>