<html>

<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>



<body>
<div class="stupid">
  
    <div  id="footer">
        FOOTER
    </div>

    <diV id="icons">
        <% if(locals.user){ %>

            <div><a href="/user/user_home">  HOME </a></div>
            <div><a href="/user/profile">  PROFILE </a></div>
            <%}%>
    </diV>

</div>


</body>

    </html>   