
<div class="footerHead" style="color:rgb(142,142,142); background-color: rgb(250,250,250) ; flex-wrap: wrap;    align-items: center; display: flex;  flex-direction: column;  padding-bottom: 3rem;  font-size: 0.8rem;">
    <div style="display: flex; align-items: center; justify-content: center;  flex-wrap: wrap; cursor: pointer; column-gap: 1rem;" >
        <p>Meta</p>
        <p>About</p>
        <p>Blog</p>
        <p>Jobs</p>
        <p>Help</p>
        <p>API</p>
        <p>Privacy</p>
        <p>Terms</p>
        <p>Top Accounts</p>
        <p>Hashtags</p>
        <p>Locations</p>
        <p>Instagram Lite</p>
        <p>Contact uploading and non-users</p>
    </div>
    <p id="rights" style=" cursor: pointer;" >English (UK)&nbsp; &nbsp;&nbsp; ©2023 Instagram from Meta</p>
</div>