
<head>

    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/992825dbbb.js" crossorigin="anonymous"></script>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

      <style>
           ul.ui-autocomplete{
            position: absolute;
            margin-top: 1000px;
            z-index: 10000;
            width: 10rem;

         }
    </style>
</head>


<nav id="nav">
<div id="Instagram-logo">
      <img src="../assets/images/instagram logo.jpeg">
</div>
<% if (locals.user) { %>
<div class="search-bar">
  <i id="logo" class="fa-solid fa-magnifying-glass" ></i>
  <input autocomplete="off"  type="text" class="search" placeholder="Search"> 
  <img class="loading" src="../assets/images/loading.gif">
  <i id="close" style="cursor: pointer; margin-left: 2.4rem; font-size: 1.1rem;" class="fa-solid fa-xmark"></i>
  <div style="color:black;" class="searchResult" >  
  </div>
</div>
  <div id="slots">   
          <a  href="/user/user_home">
            <%if(page=="home"){%>
              <img class="home-icon" src="../assets/images/homepageicon.png">
            <%}else{%>
              <img class="home-icon2" src="../assets/images/homepageicon2.png">         
            <%}%>
            
          </a>
          <a href="/user/direct/inbox">
            <%if(page=="chatting"){%>
            <img class="inbox-icon" src="../assets/images/messenger2.png">  
            <%}else{%>
            <img class="inbox-icon2 " src="../assets/images/messenger.png">
              <%}%>
          </a>   
          <img onclick="createPost()" class="create-icon" src="../assets/images/createpost.png"> 
          <div onclick="createPost()" class="createPost" ><i class="fa-solid fa-square-plus"></i></div>   

          <a href="/explore">
            <%if(page=="explore"){%>
            <img class="explore-icon" src="../assets/images/explorer.png">
            <%}else{%>
            <img class="explore-icon" src="../assets/images/explore (1).png"> 
          </a>
            <%}%>              
                <a href="/user/profile/<%= locals.user.id%>" > <image id="profile-picture" src="<%= user.avtar%>"> <a> 
                      <div><a href="/account/signout"><img class="icon" src="../assets/images/power-off.png"></a> </div>
  </div>
<% } %>
  </div>
    </nav>



    
   <%if(locals.user){%>

    <!--CREATE POST   -->
    
    <div class="create-post">
      
      <div onclick="closeTheProcess()" id="background-color">
        <i style="cursor: pointer;" class="fa-solid fa-xmark"></i>
      </div>
      <!-- <div class="container">  -->
        <form class="post-form" action="/user/post/create", enctype="multipart/form-data"  method="post">
          <div id="select-picture">
            <div class="header"> <p id="heading">Create new post </p> </div>   
            <div id="main">
              <img id="image" src="../assets/images/drag.jpg">
              <p id="description">Drag photos and videos here</p>
              <label for="select-button">Select From Computer</label>
              <input  id="select-button" type="file" name="content" required>      
            </div>        
          </div>
          <div id="create-new-post">
            <div class="header2"><i onclick="closeTheProcess()" id="back-icon" class="fa-solid fa-arrow-left-long"></i> <p id="heading">Create new post </p> <input id="share-button" type="submit" value="Share"></div>
            <div id="main">
              <div id="image-section">
                <img src="" id="post-image">
              </div>
              <div id="caption-section">
                <div id="profile">
                  <% if (user.avtar){%>
                    <img id="dp" src="<%=user.avtar%>">
                    <%}else{%>
                      <i id="user-avtar" class="fa-solid fa-user"></i>  
                      <%}%>
                      <p id="username"><%=user.username%></p>
                    </div>
                    <textarea id="caption-area" cols="37" rows="35" maxlength="150"  placeholder="Write a caption..." name="caption"></textarea>
                  </div>
                </div>                         
         </div>
        </form>    
        <div id="confirmation-slot">
          <div id="background-c"></div>
          <div id="contain-er">
            <p style="cursor: pointer;" id="heading-"> Discard post?</p>
            <p style="cursor: pointer;" id="p1">If you leave, your edits won't be saved.</p>
            <p style="cursor: pointer;" onclick="discard()" id="p2">Discard</p>
            <p style="cursor: pointer;" onclick="continueProcess()" id="p3">Cancel</p>
          </div>
        </div> 
  </div>
  <%}%> 
  
  <script src="/js/jquery.js"></script>
  <script src="/js/header.js"></script>
  <script>  
  </script>
 
<script src="/js/create_post.js"></script>

