<!DOCTYPE html>

<html>

<head>
    <title>

    </title>
    <link rel="stylesheet" href="/css/header.css">
   
</head>
<body>

    <%- include('header'); -%>

     <h1 style="position: absolute; top: 80px;">
     HOME
    </h1>
 

    <%- include('footer'); -%>
</body>
</html>