<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/sign_in_page.css" />
  
  <title>Instagram</title>
  <link rel="icon" href="../assets/images/instagram-favicon.png" type="image/icon type">

</head>
<body>
   
  <!-- SIGN IN FORM  -->

   <div class="outer">
     <form class="form" action="/account/create-session" method="post">    
        <img src="../assets/images/instagram logo.jpeg">
      <input
       id="email"
       type="text"
       name="username"
       placeholder="Username or email"
       required
       autocomplete="off"
     />
     <input
       id="password"
       type="password"
       name="password"
       placeholder="Password"
       required
       autocomplete="off"
     /><br />
     <input class="button" type="submit" value="Log In" required />
     <div class="divider"><p class="line1"></p><p>OR</p><p class="line2"></p></div>
     <div class="facebookLogin">
       <img src="../assets/images/facebook.png">
        <a href="/account/auth/facebook"> Login With Facebook</a></div>
     <%if(type){%>   
     <div id="errorBox">
       <p id="errorMessage">
         Your email or password is incorrect.
         Please try again. 
       </p>
     </div>  
     <%}%>
     <div onclick="forgotPasswordSlot()" id="forgotlink">
        <a href="/account/enteremail" id="forgotButton"> Forgot password?</a>
      </div>
      <div class="sicgnUp"><p><p>Don't have an account? <a href="/account/signup">Sign up</a> </p> </div>
  </form>
  <div class="signup-box"><p>Don't have an account? <a href="/account/signup">Sign up</a></p></div>
  <%-include('footer');-%>
  </div>   
   <script src="/js/jquery.js"></script>
   <script src="/js/user_signIn.js"></script>
 </body>
</html>


