<html>


<head>
<title>


    <%= title%>
</title>

<link  rel="stylesheet"  href="/css/signin.css">
<!-- <link rel="stylesheet" href="/css/header.css"> -->
    <!-- <link rel="stylesheet" href="/css/footer.css"> -->
</head>
<body>

    <%- include('header'); -%>
<h1>

    ITS A SIGN IN PAGE
</h1>



   <form action="/user/create-session" method="post">
       <input type="email" name="email" placeholder="YOUR EMAIL" required><br>
        <input type="password" name="password" placeholder="PASSWORD" required><br>
        <input type="submit" value="SIGN IN" required>
</form>

<%- include('footer'); -%>
</body>
</html>