<html>


<head>
<title>


    <%= title%>
</title>

<link rel="stylesheet" href="/css/signup.css"> 

</head>
<body>
<h1>

    ITS A SIGN UP PAGE
</h1>

</body>

<form action="/user/create" method="post">


    <input type="text" name="name" placeholder="YOUR NAME" required><br>
    <input type="email" name="email" placeholder="YOUR EMAIL" required><br>
    <input type="password" name="password" placeholder="PASSWORD" required><br>
    <input type="password" name="confirm_password" placeholder="CONFIRM PASSWORD" required><br>

    <input type="submit"  value=" SIGN UP">

</form>

</html>