<html>


<head>
<title>


    <%= title%>
</title>

<link  rel="stylesheet"  href="/css/signin.css">
</head>
<body>
<h1>

    ITS A SIGN IN PAGE
</h1>

</body>

   <form action="/user/create-session" method=" post">
       <input type="email" name="email" placeholder="YOUR EMAIL" required><br>
        <input type="password" name="password" placeholder="PASSWORD" required><br>
        <input type="submit" value="SIGN IN" required>
</form>
</html>