<!DOCTYPE html>

<html>

<head>
    <title>

    </title>
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
   
</head>
<body style="background-color:blanchedalmond;">

    <%- include('header'); -%>
<div style="position: absolute; top: 80px;">
    <h1>
        USER PROFILE
    </h1>

    <p>
        NAME : <%=user.name%>   
    </p>
    <p>
        EMAIL : <%=user.email%>
    </p>
    <%- include('footer'); -%>
</div>
</body>

</body>
</html>