<!DOCTYPE html>

<html>

<head>
    <title>

    </title>
    <!-- <link rel="stylesheet" href="/css/header.css"> -->

    <style>
      body{
        margin: 0%;
      }
    </style>
</head>
<body style="background-color: blanchedalmond;" >

    <%- include('header'); -%>

    <h1 style="position: absolute; top: 100px;">
      USER HOME
    </h1>
    
    <form id="post-form" style="position: absolute; top: 150px;" action="post/create", method="post">
      
      <h3>
        POSTS
      </h3>
      <textarea name="content", cols="30", rows="3"   placeholder="Type here..."></textarea><br>
      <input type="submit", value="POST">

    </form>

    <div id="posts-box" style="position: absolute; top: 18rem; font-size: 1.5rem;">
      <ul>


        <% for( let i of post){%>
          <p>
           <li> <%= i.content %></li>
           <box>
             <%= i.user.name%>
           </box>
          </p>
          <%}%>
      </ul>

    </div>



  
    <%- include('footer'); -%>
   
</body>
</html>