* {
  margin: 0;
  padding: 0;
  // height: 100vh;
  // overflow: hidden;
}

#loading {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 99999;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 2px solid red;

  #instagram-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 100px;
  }

  p {
    position: absolute;
    bottom: 80px;
    font-weight: 400;
    font-size: 1.1rem;
  }

  #meta-logo {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 50px;
  }
}


#container {
  display: flex;
  background-color: rgb(250, 250, 250);
  color: black;
  text-transform: capitalize;
  padding-top: 60px;
  height: auto;
  padding-bottom: 30px;
  #advertisement {
    width: 22rem;
    // border: 1px solid red;
  }

  //    post //

  .feed {
    width:29rem;    
    height: auto;
    position: relative;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
    row-gap: 2rem;

  }

  .feed::-webkit-scrollbar {
    width: 0;
  }

  #posts-box{
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      position: relative;
      
  }
  
  #post {
    width: 29rem;
    height: auto;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    #postheader {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background-color: rgb(255, 255, 255);
      padding: 10px;
      padding-right: 30px;
      border-radius: 10px;
   



      .options {
        button {
          transform: rotate(90deg);
        }
      }

      .options{
       
        a{
          text-decoration: none;
          color: black;  
          margin-left: 35px; 

        }
        a:hover{
          text-decoration: underline;
        }
      }

      #postcreator {
        display: flex;
        width: 40%;
        align-items: center;

        #profile {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        #user-avtar {
          font-size: 1.5rem;
          background-color: rgb(219, 219, 219);
          color: white;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
        #user-name {
          margin-top: 17px;
          margin-left: 15px;
          color: rgb(64, 64, 64);
          font-weight: bold;
          font-family: calibri;
          font-size: 1.2rem;
          text-transform: lowercase;
        }
      }
    }

    #postimage {
      width: 100%;
      height: 90vh;
    }

    #ratings {
      display: flex;
      column-gap: 1rem;
      font-size: 1.5rem;
      // border: 1px solid red;
      padding: 15px 0px 5px 15px ;

      #liked {
        color: rgb(237, 73, 86);
        margin-top: -6px;
      }

      #unlike {
        width: 25px;
        height: 25px;
        color: rgb(0, 0, 0);
        margin-top: -6px;
        
      }
      .comment {
        width: 25px;
        height: 25px;
      }
     
    }
    #numbering {
      display: flex;
      flex-direction: column;
      width: 80%;
      padding-left: 15px;
      padding-bottom: 10px;
   

      #commentBox{
        display: flex;
        column-gap: 0.5rem;
        height: 1.5rem;
        .Username{
            font-size: 0.9rem;
            font-weight: 700;
        }
        .Content{
          font-size: 0.9rem;
        }
      }
       .caption{
          // border: 1px solid;
          width: 27rem;
          font-size: 0.8rem;
       }
       #commentBB{
           margin-top: 5px;
       }
      #total-likes {
        color: rgb(64, 64, 64);
        font-weight: bold;
        font-size: 0.9rem;
        text-transform: none;
      }
      
      #total-comments {
        color: rgb(142, 142, 142);
        font-size: 0.8rem;
        text-decoration: none;
      }

      #total-comments:hover{
        text-decoration: underline;
      }
    }
    .comment-form {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
      border-top: 1px solid rgb(224, 224, 224);
      position: relative;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: absolute;
        left: 10px;
      }
      #text {
        border: none;
        width: 80%;
        padding: 5px;
        outline: none;
        position: relative;
        font-size: 0.9rem;
        
      }
      #commentbutton {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 15px;
        top: 13px;
        font-weight: bold;
        color: rgb(30,161,247);
      }
    }
  }
  #aside {
    width: 28%;
    height: 100vh;
    padding: 20px;
    // border:1px solid red;

    #users-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      // height: 60vh;
      height: auto;
      margin-left: 5%;
      padding: 20px;
      #login-user-info {
        display: flex;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }

        #login-user-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;
          #user-name {
            margin-bottom: 0px;
            margin-top: 10px;
            font-family: calibri;
            font-weight: 550;
            font-size: 1.1rem;
            text-transform: lowercase;
          }
          #na-me {
            font-size: 0.7rem;
            color: rgb(142, 142, 142);
          }
        }
      }

      #header {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        #heading {
          color: rgb(146, 146, 146);
          font-family: calibri;
          font-weight: 550;
          font-size: 1rem;
          opacity: 0.9;
        }
        #button {
          color: rgb(38, 38, 38);
          font-size: 0.9rem;
          font-family: calibri;
          font-weight: 550;
        }
      }
      #users-detail {
        // border: 1px solid black;
        display: flex;
        height: 3rem;
        position: relative;

        i {
          font-size: 1.5rem;
          background-color: rgb(219, 219, 219);
          color: white;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          margin-top: 5px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        #user-name2{
            text-decoration: none;
            margin-left: 12px;
            // border: 1px solid black;
             width: 15rem;
    
    
            #username {
              color: rgb(63, 63, 63);
              font-size: 0.9rem;
              width: 5rem;
              text-transform: lowercase;
            }
            #name {
              margin-top: -15px;
              color: rgb(167,167,167);
              font-weight: 500;
              font-size: 0.7rem;
            //   width: 15rem;

              
            }
          }
          #follow-button{
               margin-top: 7px;
            a{
                color:rgb(0,149,246);
                text-decoration: none;
                font-weight: 700;
                font-size: 0.9rem;
                font-family: calibri;
            }        
          }
      }
     
    }
  }
}


#message{
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  background-color: rgb(38,38,38);
  color: white;
  padding: 10px 2rem;
  font-family: calibri;
  font-size: 1.1rem;
}




// style for stories //


.storyHead{
    position: relative;
    display: flex;
    align-items: center;
    #left{
       position: absolute;
       z-index: 400;
       left: 5px;
       padding: 4px 8px;
       background-color: rgb(230, 230, 230);
       border-radius: 50%;
       font-size: 1.2rem;
       cursor: pointer;

    }
    #right{
      position: absolute;
      z-index: 400;
      right: 5px;
      font-size: 1.2rem;
      padding: 4px 8px;
      background-color: rgb(230, 230, 230);
      border-radius: 50%;
      cursor: pointer;

      
   }
}

.stories-container {
  display: flex;
  background: #fff;
  box-shadow: 0 3px 24px -8px rgba(0, 0, 0, 0.3);
  width: 29rem;
  margin: 0 auto;
  padding: 15px 15px 0px 15px ;
  border-radius: 8px;
  gap: 15px;
  overflow: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;

  .story{
     display: flex;
     flex-direction: column;
     font-size: 0.8rem;
     width: 6rem;
    //  border: 1px solid yellow;

     p{
        align-items: center;
        text-align: center;
     }
  }

  
}


  /* Works on Chrome, Edge, and Safari */
  .stories-container::-webkit-scrollbar {
      width: 0rem;
      display: none;
      scrollbar-color: rgb(224, 224, 224) auto;
  }

  .stories-container::-webkit-scrollbar-track {
      background: transparent;
  }

  .stories-container::-webkit-scrollbar-thumb {
      background-color:rgb(223, 223, 199);
      border-radius: 10px;
      width: 0px;
  }

.stories-container .content img {
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  object-fit: cover;
  z-index: 300;
  position: absolute;
  left: 3.5px;
  top: 3.5px;
  vertical-align: middle;
}

.stories-container .content {
  position: relative;
  cursor: pointer;
  height: 4.3rem;
  width: 4.3rem;
  border-radius: 50%;

}

.stories-container .content::before {
  content: "";
  height: 4rem;
  width: 4rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

.stories-container .content::after {
  content: "";
  height: 4.3rem;
  width: 4.3rem;
  background: linear-gradient(#dd2a7b, #f58529);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.story-full {
  
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 100ms ease;
  #bg{
      width: 100%;
      height: 100vh;
      background: #222;
      position: absolute;
      opacity: 0.8;
  }
}

.story-full.active {
  opacity: 1;
  pointer-events: auto;
}

.story-full .close-btn {
  position: fixed;
  right: 32px;
  top: 32px;
  width: 32px;
  cursor: pointer;
}

.story-full .content .left-arrow,
.story-full .content .right-arrow {
  width: 40px;
  cursor: pointer;
}

.story-full .content {
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  column-gap: 5rem;
 
  .storyHead{
    height: 90vh;
    position: relative;
    .profileGroup{
      position: absolute;
      display: flex;
      top: 1.5rem;
      left: 1rem;
      justify-content: center;
      justify-items: center;
      column-gap: 0.8rem;
      
      .dp{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
      #uName{
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
        padding-top: 4px;
      }
    }
  }
  
}

.story-full img {
  height: 100%;
  width: 20rem;
  border-radius: 15px;
}

.story-full .content .title {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  padding: 8px 32px;
}

@media (max-width: 700px) {
  .stories-container {
    width: 90%;
  }

  .stories-container .content img {
    width: 60px;
    height: 60px;
  }

  .stories-container .content::before {
    height: 70px;
    width: 70px;
  }

  .stories-container .content::after {
    width: 80px;
    height: 80px;
  }

  .story-full .content img {
    height: 65%;
  }
}

