


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password • Instagram</title>
    <link rel="icon" href="https://res.cloudinary.com/dynjwlpl3/image/upload/v1676114002/Instagram-clone/instagramfffff_mioxem.png" type="image/icon type">
</head>
<body>
<div id="main" style="background-color: white; display: flex; justify-content: center; align-items: center;">
    <div id="inner-part"style="flex-direction: column; padding: 20px; width: 27rem; height:25rem;">
        <h2 style="color:#9DA1A0; font-size:18px; font-weight: 500;"> Hello <%=user.name%></h2>
        <p style=" color: #9DA1A0; font-size: 16px; margin-bottom: 30px; text-align: start;">We're sorry to hear that you're having trouble with logging in to Instagram. We've received a message that you've forgotten your password.
             If this was you, you can get straight back into your account or reset your password now.</p>

         <a href="http://localhost:8000/account/password/reset/<%=user._id%>"><button style="background-color:rgb(114, 184, 255); font-weight: 600; color: white; font-size: 20px; width: 23rem;  border-radius: 2px; margin-bottom: 10px; border: 1px transparent; padding: 12px 10px;">Reset password</button></a>
         <p style="color: #9DA1A0; margin-bottom: 10px; text-align: start; font-size: 16px;">If you didn't request a login link or password reset, you can ignore this message and 
          learn more about why you might have received <br> <br>
          Only people who know your Instagram password or 
          click the login link in this email can log in to your account.</p>
    </div>
</div>
</body>
</html>