
<div style="background-color: blanchedalmond;">
    
     <h2> Hello <%=comment.user.name%></h2>
      
     <p> Your comment <strong> <%=comment.content%> </strong> is published !!</p>
     <br>
     <br>
     <p>Thank You</p>
</div>