.stupid {
  position: fixed;
  bottom: 0%;
  background-color: black;
  width: 84.5rem;
  height: 50px;
  display: flex;
  align-items: center;
}
.stupid #footer {
  color: white;
  font-size: 1.3rem;
  margin-left: 20px;
}
.stupid #icons {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}
.stupid #icons a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}
