#nav {
  width: 100%;
  display: flex;
  background-color: white;
  position: fixed;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  z-index: 9999999; }
  #nav #Instagram-logo {
    width: 20%; }
  #nav #search-bar {
    width: 30%; }
  #nav #slots {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px; }
    #nav #slots .icon {
      width: 25px;
      height: 25px; }
    #nav #slots #profile-picture {
      width: 25px;
      height: 25px;
      border-radius: 50%; }
    #nav #slots #user-avtar {
      font-size: 1rem;
      background-color: #dbdbdb;
      color: white;
      border-radius: 50%;
      width: 27px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center; }

.create-post {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .create-post #background-color {
    position: absolute;
    opacity: 0.7;
    background: black;
    width: 100%;
    height: 100vh; }
    .create-post #background-color i {
      position: absolute;
      right: 20px;
      top: 3%;
      font-size: 1.2rem;
      color: white; }
  .create-post .post-form {
    width: 25rem;
    border-radius: 15px;
    height: 27rem;
    background-color: white;
    position: relative; }
  .create-post #select-picture {
    width: 25rem;
    border-radius: 15px;
    height: 27rem;
    position: relative;
    display: flex;
    flex-direction: column; }
    .create-post #select-picture .header {
      height: 10%;
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 1.1rem; }
      .create-post #select-picture .header p {
        margin-top: 18px; }
    .create-post #select-picture #main {
      display: flex;
      width: 100%;
      height: 90%;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .create-post #select-picture img {
      width: 100px;
      height: 80px; }
    .create-post #select-picture #description {
      font-size: 1.3rem;
      font-weight: 100; }
    .create-post #select-picture label {
      cursor: pointer;
      background-color: #0095f6;
      color: white;
      width: 10rem;
      height: 32px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      font-weight: 500;
      align-items: center;
      font-size: 0.9rem; }
    .create-post #select-picture #select-button {
      opacity: 0;
      position: absolute;
      z-index: -1; }
  .create-post #create-new-post {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    width: 0;
    height: 0;
    position: absolute; }
    .create-post #create-new-post .header2 {
      height: 12%;
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px; }
      .create-post #create-new-post .header2 #heading {
        font-weight: 600;
        font-size: 1.1rem;
        margin-top: 15px; }
      .create-post #create-new-post .header2 #back-icon {
        font-size: 1.1rem;
        margin-top: 5px; }
      .create-post #create-new-post .header2 #share-button {
        background-color: transparent;
        border: none;
        color: #0097f7; }
    .create-post #create-new-post #main {
      width: 100%;
      height: 88%;
      display: flex; }
      .create-post #create-new-post #main #image-section {
        width: 50%;
        height: 100%;
        border-bottom-left-radius: 15px; }
        .create-post #create-new-post #main #image-section #post-image {
          width: 100%;
          height: 100%; }
      .create-post #create-new-post #main #caption-section {
        width: 50%;
        height: 100%; }
        .create-post #create-new-post #main #caption-section #profile {
          display: flex;
          height: 15%;
          align-items: center;
          padding-left: 15px;
          padding-top: 17px; }
          .create-post #create-new-post #main #caption-section #profile #user-avtar {
            font-size: 1rem;
            background-color: #dbdbdb;
            color: white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 17px; }
          .create-post #create-new-post #main #caption-section #profile #dp {
            width: 29px;
            height: 29px; }
          .create-post #create-new-post #main #caption-section #profile #username {
            color: black;
            font-weight: 500;
            margin-left: 10px;
            font-size: 1.1rem; }
        .create-post #create-new-post #main #caption-section #caption-area {
          border: none;
          outline: none;
          margin-left: 15px; }
  .create-post #confirmation-slot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    overflow: hidden; }
    .create-post #confirmation-slot #background-c {
      position: absolute;
      opacity: 0.4;
      background: black;
      width: 100%;
      height: 100vh; }
    .create-post #confirmation-slot #contain-er {
      background-color: white;
      position: relative;
      width: 25rem;
      height: 13rem;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px; }
    .create-post #confirmation-slot #heading- {
      font-weight: 600;
      font-size: 1.1rem; }
    .create-post #confirmation-slot #p1 {
      margin-top: -10px;
      font-size: 0.9rem;
      color: #8e8e8e; }
    .create-post #confirmation-slot #p2 {
      border-top: 1px solid #dbdbdb;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      color: red;
      font-weight: 700;
      position: absolute;
      bottom: 40px;
      font-size: 0.9rem;
      padding-top: 10px; }
    .create-post #confirmation-slot #p3 {
      border-top: 1px solid #dbdbdb;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      position: absolute;
      bottom: 0px;
      font-size: 0.9rem;
      padding-top: 10px; }
