#nav {
  width: 100%;
  display: flex;
  background-color: white;
  position: fixed;
  height: 60px;
  align-items: center;
  margin-top: 0;
  z-index: 1000;
  border-bottom: 1px solid #dbdbdb; }
  #nav #Instagram-logo {
    margin-left: 15%; }
    #nav #Instagram-logo img {
      width: 11rem; }
  #nav .search-bar {
    width: 17rem;
    height: 2.3rem;
    position: relative;
    left: 13%;
    background-color: #efefef;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px; }
    #nav .search-bar .search {
      background-color: transparent;
      width: 12rem;
      margin-left: 5px;
      outline: none;
      height: 2rem;
      position: relative;
      border: none; }
    #nav .search-bar .loading-bar {
      margin-left: 2.2rem;
      display: none;
      width: 1rem; }
    #nav .search-bar #close {
      display: none; }
    #nav .search-bar #arrow {
      position: absolute;
      color: white;
      left: 8rem;
      top: 2.5rem; }
    #nav .search-bar i {
      color: #a6a6a6; }
    #nav .search-bar .searchResult::-webkit-scrollbar {
      display: none; }
    #nav .search-bar .searchResult {
      background-color: white;
      position: absolute;
      width: 23rem;
      top: 3rem;
      left: -3.5rem;
      min-height: 20rem;
      max-height: 25rem;
      border: 1px solid lightgray;
      display: none;
      padding: 10px 20px;
      flex-direction: column;
      row-gap: 10px;
      overflow-y: scroll; }
      #nav .search-bar .searchResult .users-detail {
        display: flex;
        height: 3rem;
        position: relative; }
        #nav .search-bar .searchResult .users-detail i {
          font-size: 1.5rem;
          background-color: #dbdbdb;
          color: white;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center; }
        #nav .search-bar .searchResult .users-detail img {
          margin-top: 5px;
          width: 45px;
          height: 45px;
          border-radius: 50%; }
        #nav .search-bar .searchResult .users-detail #user-name2 {
          text-decoration: none;
          margin-left: 12px;
          width: 15rem;
          margin-top: 7px; }
          #nav .search-bar .searchResult .users-detail #user-name2 #username {
            color: #3f3f3f;
            font-size: 0.9rem;
            text-transform: lowercase; }
          #nav .search-bar .searchResult .users-detail #user-name2 #name {
            margin-top: -17px;
            color: #a7a7a7;
            font-weight: 500;
            font-size: 0.7rem; }
        #nav .search-bar .searchResult .users-detail #follow-button {
          margin-top: 7px; }
          #nav .search-bar .searchResult .users-detail #follow-button a {
            color: white;
            text-decoration: none;
            background-color: #0095f6;
            font-size: 0.8rem;
            border-radius: 5px;
            padding: 2px 12px;
            padding-bottom: 4px; }
  #nav #slots {
    width: 20%;
    position: relative;
    left: 18%;
    display: flex;
    align-items: center; }
    #nav #slots a {
      text-decoration: none; }
    #nav #slots .home-icon {
      width: 25px;
      height: 25px; }
    #nav #slots .home-icon2 {
      width: 23px;
      height: 23px; }
    #nav #slots .inbox-icon {
      width: 27px;
      height: 27px;
      margin-left: 1.5rem; }
    #nav #slots .inbox-icon2 {
      width: 23px;
      height: 23px;
      margin-left: 1.5rem; }
    #nav #slots .create-icon {
      width: 23px;
      height: 23px;
      margin-left: 1.5rem;
      cursor: pointer; }
    #nav #slots .createPost {
      display: none;
      margin-left: 1.5rem;
      font-size: 1.5rem;
      cursor: pointer; }
    #nav #slots .explore-icon {
      width: 25px;
      height: 25px;
      margin-left: 1.5rem; }
    #nav #slots .explore-icon2 {
      width: 25px;
      height: 25px;
      margin-left: 1.5rem; }
    #nav #slots #profile-picture {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-left: 1.5rem; }
    #nav #slots #user-avtar {
      font-size: 1rem;
      background-color: #dbdbdb;
      color: white;
      border-radius: 50%;
      width: 27px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center; }

.create-post {
  position: fixed;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll; }
  .create-post #background-color {
    position: absolute;
    opacity: 0.7;
    background: black;
    width: 100%;
    height: 100vh; }
    .create-post #background-color i {
      position: absolute;
      right: 20px;
      top: 3%;
      font-size: 1.2rem;
      color: white; }
  .create-post .post-form {
    width: 25rem;
    border-radius: 15px;
    height: 27rem;
    background-color: white;
    position: relative;
    display: flex; }
  .create-post #select-picture {
    width: 25rem;
    border-radius: 15px;
    height: 27rem;
    position: relative;
    display: flex;
    flex-direction: column;
    position: absolute; }
    .create-post #select-picture .header {
      height: 10%;
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 1.1rem; }
      .create-post #select-picture .header p {
        margin-top: 18px; }
    .create-post #select-picture #main {
      display: flex;
      width: 100%;
      height: 90%;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .create-post #select-picture img {
      width: 100px;
      height: 80px; }
    .create-post #select-picture #description {
      font-size: 1.3rem;
      font-weight: 100; }
    .create-post #select-picture label {
      cursor: pointer;
      background-color: #0095f6;
      color: white;
      width: 10rem;
      height: 32px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      font-weight: 500;
      align-items: center;
      font-size: 0.9rem; }
    .create-post #select-picture #select-button {
      opacity: 0;
      position: absolute;
      z-index: -1; }
  .create-post #create-new-post {
    position: relative;
    background-color: white;
    width: 42rem;
    height: 25rem;
    display: none;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden; }
    .create-post #create-new-post .header2 {
      height: 12%;
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px; }
      .create-post #create-new-post .header2 #heading {
        font-weight: 600;
        font-size: 1.1rem;
        margin-top: 15px; }
      .create-post #create-new-post .header2 #back-icon {
        font-size: 1.1rem;
        margin-top: 5px; }
      .create-post #create-new-post .header2 #share-button {
        background-color: transparent;
        border: none;
        color: #0097f7; }
    .create-post #create-new-post #main {
      width: 100%;
      height: 88%;
      display: flex; }
      .create-post #create-new-post #main #image-section {
        width: 50%;
        height: 100%;
        border-bottom-left-radius: 15px; }
        .create-post #create-new-post #main #image-section #post-image {
          width: 100%;
          height: 100%; }
      .create-post #create-new-post #main #caption-section {
        width: 50%;
        height: 100%; }
        .create-post #create-new-post #main #caption-section #profile {
          display: flex;
          height: 15%;
          align-items: center;
          padding-left: 15px;
          padding-top: 17px; }
          .create-post #create-new-post #main #caption-section #profile #user-avtar {
            font-size: 1rem;
            background-color: #dbdbdb;
            color: white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 17px; }
          .create-post #create-new-post #main #caption-section #profile #dp {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-bottom: 15px; }
          .create-post #create-new-post #main #caption-section #profile #username {
            color: black;
            font-weight: 500;
            margin-left: 10px;
            font-size: 1.1rem; }
        .create-post #create-new-post #main #caption-section #caption-area {
          border: none;
          outline: none;
          margin-left: 15px;
          margin-top: 10px; }
  .create-post #confirmation-slot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    overflow: hidden; }
    .create-post #confirmation-slot #background-c {
      position: absolute;
      opacity: 0.4;
      background: black;
      width: 100%;
      height: 100vh; }
    .create-post #confirmation-slot #contain-er {
      background-color: white;
      position: relative;
      width: 25rem;
      height: 13rem;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px; }
    .create-post #confirmation-slot #heading- {
      font-weight: 600;
      font-size: 1.1rem; }
    .create-post #confirmation-slot #p1 {
      margin-top: -10px;
      font-size: 0.9rem;
      color: #8e8e8e; }
    .create-post #confirmation-slot #p2 {
      border-top: 1px solid #dbdbdb;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      color: red;
      font-weight: 700;
      position: absolute;
      bottom: 40px;
      font-size: 0.9rem;
      padding-top: 10px; }
    .create-post #confirmation-slot #p3 {
      border-top: 1px solid #dbdbdb;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      position: absolute;
      bottom: 0px;
      font-size: 0.9rem;
      padding-top: 10px; }

.log-out {
  margin-top: -0.8rem; }
