body {
  margin: 0;
  padding: 0;
  text-transform: capitalize; }

.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .homepage #features {
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: center;
    position: relative; }
    .homepage #features #card1 {
      width: 25%;
      position: relative; }
      .homepage #features #card1 img {
        height: 100%;
        width: 100%;
        opacity: 1; }
      .homepage #features #card1 #layer {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #de327e;
        opacity: 0.8;
        top: 0; }
    .homepage #features #card2 {
      width: 25%;
      position: relative; }
      .homepage #features #card2 img {
        height: 100%;
        width: 100%;
        opacity: 1; }
      .homepage #features #card2 #layer {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #bd4793;
        opacity: 0.7;
        top: 0; }
    .homepage #features #card3 {
      width: 25%;
      position: relative; }
      .homepage #features #card3 img {
        height: 100%;
        width: 100%;
        opacity: 1; }
      .homepage #features #card3 #layer {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #68469e;
        opacity: 0.8;
        top: 0; }
    .homepage #features #card4 {
      width: 25%;
      position: relative; }
      .homepage #features #card4 img {
        height: 100%;
        width: 100%;
        opacity: 1; }
      .homepage #features #card4 #layer {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #207bb2;
        opacity: 0.8;
        top: 0; }
    .homepage #features #heading {
      position: absolute;
      color: white;
      font-size: 3.5rem;
      word-spacing: 2px;
      font-family: Arial;
      font-weight: bold;
      text-align: start;
      width: 80%;
      top: 6rem; }
      .homepage #features #heading p {
        position: absolute;
        color: white;
        font-size: 3.5rem;
        word-spacing: 2px;
        font-family: Arial;
        font-weight: bold;
        margin-left: 23rem;
        bottom: 10px;
        top: 20px; }
    .homepage #features #signin {
      position: absolute;
      bottom: 20px;
      margin-right: 250px;
      background-color: black;
      border-radius: 20px;
      width: 100px;
      height: 40px; }
      .homepage #features #signin a {
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin-top: 12px; }
    .homepage #features #signup {
      position: absolute;
      background-color: black;
      bottom: 20px;
      border-radius: 20px;
      width: 100px;
      height: 40px; }
      .homepage #features #signup a {
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin-top: 12px; }
  .homepage .containerbackground {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden; }
  .homepage .signin-container {
    width: 27%;
    height: 90%;
    overflow: none;
    background-color: black;
    right: 41%;
    top: 6%;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .homepage .signin-container h3 {
      font-size: 2.2rem;
      position: absolute;
      top: -5%; }
      .homepage .signin-container h3 i {
        border: 2px solid #1f1f1f;
        border-radius: 15px;
        width: 45px;
        font-size: 1.5rem;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: -60px;
        margin-top: -2px;
        color: white; }
    .homepage .signin-container #p {
      font-size: 1rem;
      position: absolute;
      top: 8%;
      left: 20%; }
    .homepage .signin-container #email {
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 2px solid white;
      color: white;
      font-size: 1.2rem;
      width: 85%;
      margin-left: 0%;
      padding: 5px;
      padding-left: 40px;
      margin-top: -60px; }
    .homepage .signin-container #emailicon {
      position: absolute;
      width: 20px;
      top: 31%;
      left: 12%; }
    .homepage .signin-container #passwordicon {
      position: absolute;
      width: 25px;
      left: 12%;
      top: 42%; }
    .homepage .signin-container #password {
      background-color: transparent;
      outline: none;
      border: none;
      margin-top: 20px;
      border-bottom: 2px solid white;
      color: white;
      font-size: 1.2rem;
      width: 85%;
      margin-left: 0%;
      padding: 5px;
      padding-left: 40px; }
    .homepage .signin-container #sections {
      margin-top: 20px;
      display: flex;
      font-size: 0.9rem;
      justify-content: space-between;
      width: 100%; }
      .homepage .signin-container #sections input {
        margin-top: 2px; }
      .homepage .signin-container #sections #pe {
        margin-right: 90px; }
      .homepage .signin-container #sections #forgotlink {
        margin-right: -12px; }
    .homepage .signin-container .button {
      width: 40%;
      height: 35px;
      position: absolute;
      background-color: transparent;
      border: 1px solid white;
      font-size: 1.2rem;
      color: white;
      text-transform: capitalize;
      border-radius: 8px;
      top: 65%;
      left: 30%; }
    .homepage .signin-container #box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
      border: 1px solid white;
      border-radius: 20px;
      height: 40px;
      top: 85px; }
    .homepage .signin-container #googleicon {
      width: 25px;
      left: 5px; }
    .homepage .signin-container #para {
      font: 1.5rem;
      color: white;
      text-decoration: none; }
    .homepage .signin-container #signupbutton {
      position: absolute;
      bottom: 1px; }
  .homepage .signup-container {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-color: black;
    right: 41%;
    top: 6%;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .homepage .signup-container #relative {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .homepage .signup-container #relative #signup-heading {
        font-size: 1.8rem;
        position: relative;
        right: 15%;
        display: flex;
        bottom: 10px; }
        .homepage .signup-container #relative #signup-heading i {
          border: 2px solid #1f1f1f;
          border-radius: 15px;
          width: 45px;
          font-size: 1.5rem;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          margin-left: -70px;
          margin-top: -2px;
          color: white; }
      .homepage .signup-container #relative #paragragh {
        position: absolute;
        top: 14%;
        left: 8%;
        text-align: justify;
        word-spacing: 2px;
        font-size: 1rem;
        color: #7f7f7f; }
      .homepage .signup-container #relative #signiup-options {
        position: absolute;
        top: 25%;
        display: flex;
        justify-content: space-between;
        width: 50%;
        left: 18%; }
        .homepage .signup-container #relative #signiup-options #googlesignup {
          border: 2px solid #1d1d1d;
          background-color: #171717;
          width: 80px;
          height: 35px;
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          color: white; }
          .homepage .signup-container #relative #signiup-options #googlesignup i {
            color: white; }
        .homepage .signup-container #relative #signiup-options #fbsignup {
          border: 2px solid #1d1d1d;
          background-color: #171717;
          width: 80px;
          height: 35px;
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem; }
          .homepage .signup-container #relative #signiup-options #fbsignup i {
            color: white; }
      .homepage .signup-container #relative #signup-form {
        position: relative;
        top: 20%;
        height: 59%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
      .homepage .signup-container #relative #name {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1rem;
        width: 75%;
        margin-left: 0%;
        padding: 5px; }
      .homepage .signup-container #relative #username {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1rem;
        width: 75%;
        margin-left: 0%;
        padding: 5px; }
      .homepage .signup-container #relative #useremail {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1rem;
        width: 75%;
        margin-left: 0%;
        padding: 5px; }
      .homepage .signup-container #relative #userpassword {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1rem;
        width: 75%;
        margin-left: 0%;
        padding: 5px; }
      .homepage .signup-container #relative #confpassword {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1rem;
        width: 75%;
        margin-left: 0%;
        padding: 5px; }
      .homepage .signup-container #relative #submitbutton {
        width: 40%;
        height: 40px;
        background-color: transparent;
        border: 1px solid white;
        font-size: 1.2rem;
        color: white;
        text-transform: capitalize;
        border-radius: 8px;
        position: absolute;
        right: 1px;
        top: -20px; }
      .homepage .signup-container #relative #signin-button {
        position: absolute;
        bottom: -20px;
        text-transform: none; }
  .homepage #information {
    height: 20%;
    width: 100%;
    background-color: black; }
