* {
  margin: 0;
  padding: 0; }

.post-section {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  margin: auto; }
  .post-section #post-view {
    width: 60%;
    background-color: white;
    height: 92%;
    display: flex;
    margin-top: 20px; }
    .post-section #post-view #image {
      width: 58%; }
    .post-section #post-view #container {
      border: 1px solid lightgray;
      border-radius: 1px;
      width: 42%; }
      .post-section #post-view #container .profilepicture {
        width: 35px;
        border-radius: 50%;
        height: 35px; }
      .post-section #post-view #container #userdetail {
        border-bottom: 1px solid lightgrey;
        padding-left: 10px;
        font-family: calibri;
        display: flex;
        align-items: center;
        height: 11%; }
        .post-section #post-view #container #userdetail #name {
          margin-top: 3px;
          margin-left: 10px;
          font-size: 1.1rem; }
        .post-section #post-view #container #userdetail .options button {
          transform: rotate(90deg); }
        .post-section #post-view #container #userdetail .options {
          margin-left: 12rem;
          margin-top: 0.5rem; }
          .post-section #post-view #container #userdetail .options ul {
            width: 1rem; }
          .post-section #post-view #container #userdetail .options a {
            text-decoration: none;
            color: black;
            margin-left: 40px; }
          .post-section #post-view #container #userdetail .options a:hover {
            text-decoration: underline; }
      .post-section #post-view #container #achievements {
        border-top: 1px solid lightgray;
        padding: 0px 15px;
        height: 14%;
        margin-top: -14px;
        margin-bottom: 10px; }
        .post-section #post-view #container #achievements #out {
          display: flex;
          column-gap: 1rem;
          margin-top: 10px;
          height: 2rem; }
          .post-section #post-view #container #achievements #out i {
            font-size: 1.4rem; }
        .post-section #post-view #container #achievements #liked {
          font-size: 1.4rem;
          color: #ed4956;
          margin-top: -6px; }
        .post-section #post-view #container #achievements #unlike {
          font-size: 1.4rem;
          margin-top: -6px;
          color: black; }
        .post-section #post-view #container #achievements #likes {
          width: 22px;
          height: 22px; }
        .post-section #post-view #container #achievements #likedd {
          font-family: calibri;
          margin-left: 6px;
          font-size: 0.9rem;
          font-weight: 700; }
      .post-section #post-view #container .comment-forms {
        border-top: 1px solid lightgray;
        display: flex;
        padding: 10px;
        height: 12%;
        align-items: center; }
        .post-section #post-view #container .comment-forms #profilepicture {
          border-radius: 50%; }
        .post-section #post-view #container .comment-forms #commentsubmit {
          color: #0095f7;
          font-size: 1.1rem;
          background-color: white;
          padding: 5px 15px;
          border: transparent;
          font-weight: 700;
          font-family: calibri; }
        .post-section #post-view #container .comment-forms #content {
          font-size: 0.9rem;
          outline: none;
          padding: 5px 0px;
          width: 16rem;
          border: transparent;
          margin-left: 5px; }
      .post-section #post-view #container #comments-section::-webkit-scrollbar {
        display: none; }
      .post-section #post-view #container #comments-section {
        height: 61%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 10px; }
        .post-section #post-view #container #comments-section .dp {
          width: 35px;
          height: 35px;
          border-radius: 50%; }
        .post-section #post-view #container #comments-section #comments-list {
          list-style-type: none;
          font-family: calibri;
          box-sizing: content-box;
          display: flex;
          position: relative; }
          .post-section #post-view #container #comments-section #comments-list #red {
            font-size: 0.8rem;
            color: #ed4956;
            position: absolute;
            top: 8px;
            right: 0; }
          .post-section #post-view #container #comments-section #comments-list #white {
            font-size: 0.8rem;
            color: black;
            top: 8px;
            position: absolute;
            right: 0; }
          .post-section #post-view #container #comments-section #comments-list .box {
            display: flex;
            column-gap: 10px; }
            .post-section #post-view #container #comments-section #comments-list .box .dp {
              width: 30px;
              height: 30px;
              border-radius: 50%; }
            .post-section #post-view #container #comments-section #comments-list .box #comment {
              padding-right: 1.5rem;
              text-align: left;
              font-size: 0.9rem; }
              .post-section #post-view #container #comments-section #comments-list .box #comment p {
                display: inline;
                font-weight: 500;
                font-size: 1rem; }
            .post-section #post-view #container #comments-section #comments-list .box #commentdelete {
              margin-left: 15px;
              color: black; }
          .post-section #post-view #container #comments-section #comments-list #like-delete {
            display: flex;
            column-gap: 0.5rem; }
            .post-section #post-view #container #comments-section #comments-list #like-delete .no {
              font-weight: 600;
              font-family: calibri;
              color: #9a9a9a;
              font-size: 0.8rem; }
            .post-section #post-view #container #comments-section #comments-list #like-delete .commentDelete {
              font-size: 0.8rem;
              color: black;
              text-decoration: none;
              color: #9a9a9a; }

#profilepicture {
  width: 30px;
  height: 30px; }

#message {
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #262626;
  color: white;
  padding: 10px 2rem;
  font-family: calibri;
  font-size: 1.1rem; }
