body {
  margin: 0;
  padding: 0;
  text-transform: capitalize; }

.stop-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden; }

.outer-box {
  background-color: #fafafa;
  width: 100%;
  margin-top: 0;
  height: auto;
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .outer-box #profile-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    min-height: 12rem;
    height: auto; }
  .outer-box #box-1 {
    width: 33%;
    display: flex;
    justify-content: center; }
    .outer-box #box-1 #user-picture {
      width: 150px;
      height: 150px;
      border-radius: 50%; }
    .outer-box #box-1 #selection-button2 {
      position: absolute;
      z-index: -1;
      opacity: 0; }
    .outer-box #box-1 #user-avtar {
      font-size: 6rem;
      background-color: #dbdbdb;
      color: white;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .outer-box #box-2 {
    display: flex;
    flex-direction: column;
    width: 67%;
    height: auto; }
    .outer-box #box-2 #name {
      display: flex;
      width: auto;
      min-width: 50%;
      align-items: center;
      padding-left: 20px; }
      .outer-box #box-2 #name #user_name {
        font-size: 1.5rem;
        font-weight: lighter; }
      .outer-box #box-2 #name #button_edit_profile {
        height: 30px;
        background-color: transparent;
        border: 1px solid lightgrey;
        margin-left: 20px;
        border-radius: 5px;
        font-weight: 750; }
      .outer-box #box-2 #name #settings-logo {
        width: 25px;
        height: 25px;
        margin-left: 20px; }
      .outer-box #box-2 #name #follow- {
        background-color: #0095f6;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        color: white;
        border-radius: 5px;
        margin-left: 30px;
        width: 4.4rem;
        height: 1.8rem;
        font-weight: 600;
        margin-bottom: 5px; }
      .outer-box #box-2 #name #message-button {
        background-color: transparent;
        border: 1px solid #dbdbdb;
        width: 5rem;
        height: 2rem;
        border-radius: 5px;
        margin-left: 30px;
        font-weight: 400; }
      .outer-box #box-2 #name #unfollow- {
        background-color: transparent;
        border: 1px solid #dbdbdb;
        width: 5rem;
        height: 2rem;
        border-radius: 5px;
        margin-left: 10px; }
        .outer-box #box-2 #name #unfollow- #unfollow-logo1 {
          width: 8px;
          height: 8px;
          margin-right: -5px;
          margin-bottom: 2px; }
        .outer-box #box-2 #name #unfollow- #unfollow-logo2 {
          height: 15px;
          width: 15px;
          margin-right: 5px; }
    .outer-box #box-2 #followers {
      margin-left: 20px;
      display: flex;
      width: 50%;
      justify-content: space-between;
      text-transform: lowercase;
      font-size: 1.1rem;
      margin-top: -10px; }
    .outer-box #box-2 #name- {
      margin-top: 10px;
      margin-left: 20px;
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      text-transform: lowercase; }
    .outer-box #box-2 #bio {
      height: auto;
      position: relative;
      width: 35rem;
      max-height: 10rem; }
  .outer-box #post-container {
    margin-top: 30px;
    border-top: 2px solid #dbdbdb;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    row-gap: 1.8rem;
    position: relative; }
    .outer-box #post-container #no-post-box {
      width: 100%;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
      row-gap: 20px; }
      .outer-box #post-container #no-post-box #camera-logo {
        width: 25px;
        height: 25px; }
      .outer-box #post-container #no-post-box #no-post {
        font-size: 1.8rem;
        font-family: Candara Light;
        font-weight: 500; }
    .outer-box #post-container #post-image {
      width: 31%;
      height: 18rem; }

.profile-updation-container {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .profile-updation-container #container-background {
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute; }
  .profile-updation-container #options-box {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    height: 14rem;
    width: 25rem; }
    .profile-updation-container #options-box #box-heading {
      font-weight: 450;
      font-size: 1.3rem;
      font-family: calibri;
      height: 34%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .profile-updation-container #options-box .picture-selection {
      height: 22%;
      width: 100%;
      border-top: 1px solid #dbdbdb;
      display: flex;
      justify-content: center;
      align-items: center; }
      .profile-updation-container #options-box .picture-selection #label {
        color: #0095f6;
        font-weight: 700;
        font-family: calibri; }
      .profile-updation-container #options-box .picture-selection #selection-button {
        position: absolute;
        z-index: -1;
        opacity: 0; }
    .profile-updation-container #options-box #remove-picture {
      height: 22%;
      width: 100%;
      border-top: 1px solid #dbdbdb;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-family: calibri;
      color: red;
      text-decoration: none; }
    .profile-updation-container #options-box #Cancel-process {
      height: 22%;
      width: 100%;
      border-top: 1px solid #dbdbdb;
      display: flex;
      justify-content: center;
      align-items: center; }
