* {
  margin: 0;
  padding: 0; }

#loading {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 99999;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #loading #instagram-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 100px; }
  #loading p {
    position: absolute;
    bottom: 80px;
    font-weight: 400;
    font-size: 1.1rem; }
  #loading #meta-logo {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 50px; }

#container {
  display: flex;
  background-color: #fafafa;
  color: black;
  text-transform: capitalize;
  padding-top: 60px;
  height: auto;
  padding-bottom: 30px; }
  #container #advertisement {
    width: 25%;
    border-color: 2px solid yellow; }
  #container .feed {
    width: 35%;
    height: auto;
    position: relative;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
    row-gap: 2rem; }
  #container .feed::-webkit-scrollbar {
    width: 0; }
  #container #posts-box {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative; }
  #container #post {
    width: 100%;
    height: auto;
    border: 1px solid #e7e7e7;
    background-color: white;
    border-radius: 10px; }
    #container #post #postheader {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background-color: white;
      padding: 10px;
      padding-right: 30px;
      border-radius: 10px; }
      #container #post #postheader .options button {
        transform: rotate(90deg); }
      #container #post #postheader .options a {
        text-decoration: none;
        color: black;
        margin-left: 35px; }
      #container #post #postheader .options a:hover {
        text-decoration: underline; }
      #container #post #postheader #postcreator {
        display: flex;
        width: 40%;
        align-items: center; }
        #container #post #postheader #postcreator #profile {
          width: 40px;
          height: 40px;
          border-radius: 50%; }
        #container #post #postheader #postcreator #user-avtar {
          font-size: 1.5rem;
          background-color: #dbdbdb;
          color: white;
          border-radius: 50%;
          width: 40px;
          height: 40px; }
        #container #post #postheader #postcreator #user-name {
          margin-top: 17px;
          margin-left: 15px;
          color: #404040;
          font-weight: bold;
          font-family: calibri;
          font-size: 1.2rem;
          text-transform: lowercase; }
    #container #post #postimage {
      width: 100%;
      height: 90vh; }
    #container #post #ratings {
      display: flex;
      column-gap: 1rem;
      font-size: 1.5rem;
      padding: 15px 0px 5px 15px; }
      #container #post #ratings #liked {
        color: #ed4956;
        margin-top: -6px; }
      #container #post #ratings #unlike {
        width: 25px;
        height: 25px;
        color: black;
        margin-top: -6px; }
      #container #post #ratings .comment {
        width: 25px;
        height: 25px; }
    #container #post #numbering {
      display: flex;
      flex-direction: column;
      width: 80%;
      padding-left: 15px;
      padding-bottom: 10px; }
      #container #post #numbering #commentBox {
        display: flex;
        column-gap: 0.5rem;
        height: 1.5rem; }
        #container #post #numbering #commentBox .Username {
          font-size: 0.9rem;
          font-weight: 700; }
        #container #post #numbering #commentBox .Content {
          font-size: 0.9rem; }
      #container #post #numbering .caption {
        width: 27rem;
        font-size: 0.8rem; }
      #container #post #numbering #commentBB {
        margin-top: 5px; }
      #container #post #numbering #total-likes {
        color: #404040;
        font-weight: bold;
        font-size: 0.9rem;
        text-transform: none; }
      #container #post #numbering #total-comments {
        color: #8e8e8e;
        font-size: 0.8rem;
        text-decoration: none; }
      #container #post #numbering #total-comments:hover {
        text-decoration: underline; }
    #container #post .comment-form {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
      border-top: 1px solid #e0e0e0;
      position: relative; }
      #container #post .comment-form img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: absolute;
        left: 10px; }
      #container #post .comment-form #text {
        border: none;
        width: 80%;
        padding: 5px;
        outline: none;
        position: relative;
        font-size: 0.9rem; }
      #container #post .comment-form #commentbutton {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 15px;
        top: 13px;
        font-weight: bold;
        color: #1ea1f7; }
  #container #aside {
    width: 28%;
    height: 100vh;
    padding: 20px; }
    #container #aside #users-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-left: 5%;
      padding: 20px; }
      #container #aside #users-container #login-user-info {
        display: flex; }
        #container #aside #users-container #login-user-info img {
          width: 60px;
          height: 60px;
          border-radius: 50%; }
        #container #aside #users-container #login-user-info #login-user-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px; }
          #container #aside #users-container #login-user-info #login-user-name #user-name {
            margin-bottom: 0px;
            margin-top: 10px;
            font-family: calibri;
            font-weight: 550;
            font-size: 1.1rem;
            text-transform: lowercase; }
          #container #aside #users-container #login-user-info #login-user-name #na-me {
            font-size: 0.7rem;
            color: #8e8e8e; }
      #container #aside #users-container #header {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%; }
        #container #aside #users-container #header #heading {
          color: #929292;
          font-family: calibri;
          font-weight: 550;
          font-size: 1rem;
          opacity: 0.9; }
        #container #aside #users-container #header #button {
          color: #262626;
          font-size: 0.9rem;
          font-family: calibri;
          font-weight: 550; }
      #container #aside #users-container #users-detail {
        display: flex;
        height: 3rem;
        position: relative; }
        #container #aside #users-container #users-detail i {
          font-size: 1.5rem;
          background-color: #dbdbdb;
          color: white;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center; }
        #container #aside #users-container #users-detail img {
          margin-top: 5px;
          width: 35px;
          height: 35px;
          border-radius: 50%; }
        #container #aside #users-container #users-detail #user-name2 {
          text-decoration: none;
          margin-left: 12px;
          width: 12rem;
          margin-top: 2px; }
          #container #aside #users-container #users-detail #user-name2 #username {
            color: #3f3f3f;
            font-size: 0.9rem;
            text-transform: lowercase; }
          #container #aside #users-container #users-detail #user-name2 #name {
            margin-top: -17px;
            color: #a7a7a7;
            font-weight: 500;
            font-size: 0.7rem; }
        #container #aside #users-container #users-detail #follow-button {
          margin-top: 7px; }
          #container #aside #users-container #users-detail #follow-button a {
            color: #0095f6;
            text-decoration: none;
            font-weight: 700;
            font-size: 0.9rem;
            font-family: calibri; }

#message {
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #262626;
  color: white;
  padding: 10px 2rem;
  font-family: calibri;
  font-size: 1.1rem; }

.storyHead {
  position: relative;
  display: flex;
  align-items: center; }
  .storyHead #left {
    position: absolute;
    z-index: 400;
    left: 5px;
    padding: 4px 8px;
    background-color: #e6e6e6;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer; }
  .storyHead #right {
    position: absolute;
    z-index: 400;
    right: 5px;
    font-size: 1.2rem;
    padding: 4px 8px;
    background-color: #e6e6e6;
    border-radius: 50%;
    cursor: pointer; }

.stories-container {
  display: flex;
  background: #fff;
  box-shadow: 0 3px 24px -8px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: 0 auto;
  padding: 15px 15px 0px 15px;
  border-radius: 8px;
  gap: 15px;
  overflow: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth; }
  .stories-container .story {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    width: 6rem; }
    .stories-container .story p {
      align-items: center;
      text-align: center; }

/* Works on Chrome, Edge, and Safari */
.stories-container::-webkit-scrollbar {
  width: 0rem;
  display: none;
  scrollbar-color: #e0e0e0 auto; }

.stories-container::-webkit-scrollbar-track {
  background: transparent; }

.stories-container::-webkit-scrollbar-thumb {
  background-color: #dfdfc7;
  border-radius: 10px;
  width: 0px; }

.stories-container .content img {
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  object-fit: cover;
  z-index: 300;
  position: absolute;
  left: 3.5px;
  top: 3.5px;
  vertical-align: middle; }

.stories-container .content {
  position: relative;
  cursor: pointer;
  height: 4.3rem;
  width: 4.3rem;
  border-radius: 50%; }

.stories-container .content::before {
  content: "";
  height: 4rem;
  width: 4rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101; }

.stories-container .content::after {
  content: "";
  height: 4.3rem;
  width: 4.3rem;
  background: linear-gradient(#dd2a7b, #f58529);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; }

.story-full {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 100ms ease; }
  .story-full #bg {
    width: 100%;
    height: 100vh;
    background: #222;
    position: absolute;
    opacity: 0.8; }

.story-full.active {
  opacity: 1;
  pointer-events: auto; }

.story-full .close-btn {
  position: fixed;
  right: 32px;
  top: 32px;
  width: 32px;
  cursor: pointer; }

.story-full .content .left-arrow,
.story-full .content .right-arrow {
  width: 40px;
  cursor: pointer; }

.story-full .content {
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  column-gap: 5rem; }
  .story-full .content .storyHead {
    height: 90vh;
    position: relative; }
    .story-full .content .storyHead .profileGroup {
      position: absolute;
      display: flex;
      top: 1.5rem;
      left: 1rem;
      justify-content: center;
      justify-items: center;
      column-gap: 0.8rem; }
      .story-full .content .storyHead .profileGroup .dp {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%; }
      .story-full .content .storyHead .profileGroup #uName {
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
        padding-top: 4px; }

.story-full img {
  height: 100%;
  width: 20rem;
  border-radius: 15px; }

.story-full .content .title {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  padding: 8px 32px; }

@media (max-width: 700px) {
  .stories-container {
    width: 90%; }
  .stories-container .content img {
    width: 60px;
    height: 60px; }
  .stories-container .content::before {
    height: 70px;
    width: 70px; }
  .stories-container .content::after {
    width: 80px;
    height: 80px; }
  .story-full .content img {
    height: 65%; } }
