body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; }

#loading {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 99999;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #loading #instagram-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 100px; }
  #loading p {
    position: absolute;
    bottom: 80px;
    font-weight: 400;
    font-size: 1.1rem; }
  #loading #meta-logo {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 50px; }

#container {
  display: flex;
  background-color: #f0f0f0;
  justify-content: space-between;
  color: black;
  text-transform: capitalize;
  padding-top: 60px;
  height: 100vh; }
  #container #advertisement {
    width: 20%; }
  #container .feed {
    width: 50%;
    height: 95vh;
    overflow: scroll; }
  #container .feed::-webkit-scrollbar {
    width: 0; }
  #container #post {
    width: 100%;
    height: auto;
    margin-top: 30px;
    background-color: white;
    border: 1px solid #dbdbdb; }
    #container #post #postheader {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      background-color: white;
      padding: 10px;
      padding-right: 30px; }
      #container #post #postheader .dropdown button {
        transform: rotate(90deg); }
      #container #post #postheader #postcreator {
        display: flex;
        width: 40%;
        justify-content: space-between;
        align-items: center; }
        #container #post #postheader #postcreator #profile {
          width: 40px;
          height: 40px;
          border-radius: 50%; }
        #container #post #postheader #postcreator #user-avtar {
          font-size: 1.5rem;
          background-color: #dbdbdb;
          color: white;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center; }
        #container #post #postheader #postcreator h3 {
          margin-top: 25px;
          font-size: 1.2rem;
          text-transform: lowercase;
          width: 80%; }
          #container #post #postheader #postcreator h3 p {
            color: #989898;
            font-size: 0.7rem;
            margin-top: 0px;
            overflow: hidden;
            height: 16px;
            width: 80%; }
    #container #post #caption {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      height: auto;
      display: flex;
      align-items: center; }
    #container #post #postimage {
      width: 100%;
      height: 80vh; }
    #container #post #ratings {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 1.5rem;
      width: 18%;
      margin-left: 10px;
      align-items: center; }
      #container #post #ratings .like {
        width: 25px;
        height: 25px;
        color: black; }
      #container #post #ratings #comment {
        width: 25px;
        height: 25px; }
      #container #post #ratings #share {
        width: 25px;
        height: 25px;
        transform: rotate(10deg); }
    #container #post #numbering {
      display: flex;
      flex-direction: column;
      width: 80%;
      padding-left: 10px;
      margin-bottom: 10px; }
      #container #post #numbering #total-likes {
        color: #404040;
        font-weight: bold;
        font-size: 0.9rem;
        text-transform: none; }
      #container #post #numbering #total-comments {
        color: #8e8e8e;
        font-size: 0.8rem; }
    #container #post .comment-form {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
      border-top: 1px solid #e0e0e0;
      position: relative; }
      #container #post .comment-form img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: absolute;
        left: 10px; }
      #container #post .comment-form #text {
        border: none;
        width: 70%;
        padding: 5px;
        outline: none;
        position: relative;
        right: 50px; }
      #container #post .comment-form #commentbutton {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 10px; }
  #container #friends {
    width: 28%;
    height: 100vh;
    padding: 20px; }

.post-section {
  width: 100%;
  height: 100vh;
  position: fixed; }

#post-view {
  width: 70%;
  height: 90%;
  display: flex;
  margin-top: 20px; }
  #post-view #image {
    width: 50%; }
  #post-view #container {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white; }
    #post-view #container #userdetail {
      display: flex;
      position: relative;
      top: -40px;
      border-bottom: 1px solid #e0e0e0;
      align-items: center; }
      #post-view #container #userdetail #profilepicture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 12px;
        margin-left: 10px; }
      #post-view #container #userdetail #name {
        margin-left: 12px;
        text-transform: capitalize;
        font-size: 1.2rem; }
    #post-view #container #achievements {
      position: absolute;
      bottom: 22%;
      border-top: 1px solid #e0e0e0;
      padding-left: 0px;
      width: 35%;
      display: flex;
      padding-top: 10px; }
      #post-view #container #achievements #likes {
        width: 30px;
        height: 30px;
        margin-left: 15px; }
      #post-view #container #achievements #comments {
        width: 30px;
        height: 30px;
        margin-left: 15px; }
      #post-view #container #achievements #transfer {
        width: 30px;
        height: 30px;
        margin-left: 15px; }
    #post-view #container #numberings {
      position: absolute;
      bottom: 17%;
      padding-left: 15px;
      font-weight: bold; }
    #post-view #container .comment-forms {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
      border-top: 1px solid #e0e0e0;
      position: relative; }
      #post-view #container .comment-forms #profilepicture {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: absolute;
        left: 10px; }
      #post-view #container .comment-forms #content {
        border: none;
        width: 70%;
        padding: 5px;
        outline: none;
        position: relative;
        right: 20px; }
      #post-view #container .comment-forms #commentsubmit {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 10px; }

#close-button {
  background-color: white;
  position: absolute;
  right: 30px;
  top: 25px;
  color: white; }

#profilepicture {
  width: 30px;
  height: 30px; }
