* {
  margin: 0;
  padding: 0; }

#loading {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 99999;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #loading #instagram-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 100px; }
  #loading p {
    position: absolute;
    bottom: 80px;
    font-weight: 400;
    font-size: 1.1rem; }
  #loading #meta-logo {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 50px; }

#container {
  display: flex;
  background-color: #fafafa;
  color: black;
  text-transform: capitalize;
  padding-top: 60px;
  height: auto; }
  #container #advertisement {
    width: 22rem; }
  #container .feed {
    width: 29rem;
    height: auto;
    position: relative;
    padding-top: 35px; }
  #container .feed::-webkit-scrollbar {
    width: 0; }
  #container #posts-box {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative; }
  #container #post {
    width: 29rem;
    height: auto;
    border: 1px solid #e7e7e7;
    background-color: white;
    border-radius: 10px; }
    #container #post #postheader {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background-color: white;
      padding: 10px;
      padding-right: 30px;
      border-radius: 10px; }
      #container #post #postheader .options button {
        transform: rotate(90deg); }
      #container #post #postheader .options a {
        text-decoration: none;
        color: black;
        margin-left: 35px; }
      #container #post #postheader .options a:hover {
        text-decoration: underline; }
      #container #post #postheader #postcreator {
        display: flex;
        width: 40%;
        align-items: center; }
        #container #post #postheader #postcreator #profile {
          width: 40px;
          height: 40px;
          border-radius: 50%; }
        #container #post #postheader #postcreator #user-avtar {
          font-size: 1.5rem;
          background-color: #dbdbdb;
          color: white;
          border-radius: 50%;
          width: 40px;
          height: 40px; }
        #container #post #postheader #postcreator #user-name {
          margin-top: 17px;
          margin-left: 15px;
          color: #404040;
          font-weight: bold;
          font-family: calibri;
          font-size: 1.2rem;
          text-transform: lowercase; }
    #container #post #postimage {
      width: 100%;
      height: 90vh; }
    #container #post #ratings {
      display: flex;
      column-gap: 1rem;
      font-size: 1.5rem;
      padding: 15px 0px 5px 15px; }
      #container #post #ratings #liked {
        color: #ed4956;
        margin-top: -6px; }
      #container #post #ratings #unlike {
        width: 25px;
        height: 25px;
        color: black;
        margin-top: -6px; }
      #container #post #ratings .comment {
        width: 25px;
        height: 25px; }
    #container #post #numbering {
      display: flex;
      flex-direction: column;
      width: 80%;
      padding-left: 15px;
      padding-bottom: 10px; }
      #container #post #numbering #commentBox {
        display: flex;
        column-gap: 0.5rem;
        height: 1.5rem; }
        #container #post #numbering #commentBox .Username {
          font-size: 0.9rem;
          font-weight: 700; }
        #container #post #numbering #commentBox .Content {
          font-size: 0.9rem; }
      #container #post #numbering .caption {
        width: 27rem;
        font-size: 0.8rem; }
      #container #post #numbering #commentBB {
        margin-top: 5px; }
      #container #post #numbering #total-likes {
        color: #404040;
        font-weight: bold;
        font-size: 0.9rem;
        text-transform: none; }
      #container #post #numbering #total-comments {
        color: #8e8e8e;
        font-size: 0.8rem;
        text-decoration: none; }
      #container #post #numbering #total-comments:hover {
        text-decoration: underline; }
    #container #post .comment-form {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
      border-top: 1px solid #e0e0e0;
      position: relative; }
      #container #post .comment-form img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: absolute;
        left: 10px; }
      #container #post .comment-form #text {
        border: none;
        width: 80%;
        padding: 5px;
        outline: none;
        position: relative;
        font-size: 0.9rem; }
      #container #post .comment-form #commentbutton {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 15px;
        top: 13px;
        font-weight: bold;
        color: #1ea1f7; }
  #container #aside {
    width: 28%;
    height: 100vh;
    padding: 20px; }
    #container #aside #users-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-left: 5%;
      padding: 20px; }
      #container #aside #users-container #login-user-info {
        display: flex; }
        #container #aside #users-container #login-user-info img {
          width: 60px;
          height: 60px;
          border-radius: 50%; }
        #container #aside #users-container #login-user-info #login-user-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px; }
          #container #aside #users-container #login-user-info #login-user-name #user-name {
            margin-bottom: 0px;
            margin-top: 10px;
            font-family: calibri;
            font-weight: 550;
            font-size: 1.1rem;
            text-transform: lowercase; }
          #container #aside #users-container #login-user-info #login-user-name #na-me {
            font-size: 0.7rem;
            color: #8e8e8e; }
      #container #aside #users-container #header {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%; }
        #container #aside #users-container #header #heading {
          color: #929292;
          font-family: calibri;
          font-weight: 550;
          font-size: 1rem;
          opacity: 0.9; }
        #container #aside #users-container #header #button {
          color: #262626;
          font-size: 0.9rem;
          font-family: calibri;
          font-weight: 550; }
      #container #aside #users-container #users-detail {
        display: flex;
        height: 3rem;
        position: relative; }
        #container #aside #users-container #users-detail i {
          font-size: 1.5rem;
          background-color: #dbdbdb;
          color: white;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center; }
        #container #aside #users-container #users-detail img {
          margin-top: 5px;
          width: 32px;
          height: 32px;
          border-radius: 50%; }
        #container #aside #users-container #users-detail #user-name2 {
          text-decoration: none;
          margin-left: 12px;
          width: 15rem; }
          #container #aside #users-container #users-detail #user-name2 #username {
            color: #3f3f3f;
            font-size: 0.9rem;
            width: 5rem;
            text-transform: lowercase; }
          #container #aside #users-container #users-detail #user-name2 #name {
            margin-top: -15px;
            color: #a7a7a7;
            font-weight: 500;
            font-size: 0.7rem; }
        #container #aside #users-container #users-detail #follow-button {
          margin-top: 7px; }
          #container #aside #users-container #users-detail #follow-button a {
            color: #0095f6;
            text-decoration: none;
            font-weight: 700;
            font-size: 0.9rem;
            font-family: calibri; }

#message {
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #262626;
  color: white;
  padding: 10px 2rem;
  font-family: calibri;
  font-size: 1.1rem; }
